.container1 {
  height: 100%;
  line-height: 60px;
  background-image: url('http://static.mmtrix.com/g1/M00/F3/79/CgpkEllvA_GANHrSAA0MnogOs5U39.jpeg');
  background-repeat:no-repeat;
  background-size:cover;
}
.login-container {
  margin-top: 15%;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  background-clip: padding-box;
  padding: 35px 35px 15px 35px;
  border: 1px solid #eaeaea;
  box-shadow: 0 0 25px #cac6c6;
}
.full-width{
  width:100%
}
.title {
  margin: 0px auto 40px auto;
  text-align: center;
  color: #505458;
}